<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCuFqqGqK5-WdBDW5IW6w65ETGLH0of76g</string>
	<key>GCM_SENDER_ID</key>
	<string>991223794946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.grocerymart</string>
	<key>PROJECT_ID</key>
	<string>grocerymart-f1e9a</string>
	<key>STORAGE_BUCKET</key>
	<string>grocerymart-f1e9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991223794946:ios:45bf77781230f1193b461b</string>
</dict>
</plist>